
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: #282c34;
}
.App-body{
  min-height:75vh;
  height:100%;
  padding-bottom: 5vh;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  font-size: calc(5px + 1vmin);
  color: white;
}
.App-toolbar {
  background-color: #2e2e2e;
  min-height: 5vh;
  max-height: 5vh;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.App-header {
  margin-top: 5vh;
  text-align: center;
  background-color: #282c34;
  min-height: 15vh;
  max-height: 15vh;
  align-items: center;
  color: white;
}
.App-toolbar button {
  flex: 1;
  margin: 0 5px;
  padding: 0px 0px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


