.farm-map {
    width: 500px;
    height: 500px;
    position: relative;
    background-color: green;
    margin-left: 50px;
}

.plot {
    position: absolute;
    border: 2px solid black;
    background-color: #9B673C;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    align-content: center;
}
.body {
    display: flex;
}
.building {
    position: absolute;
    border: 2px solid black;
    background-color: #4f2a0b;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    align-content: center;
}