.plot-interface {
    align-self: flex-start;
    padding-left: 20px;
    align-items: left;
    align-content: left;
    text-align: left;
}
.plot-interface {
    align-self: flex-start;
    padding-left: 20px;
    align-items: left;
    align-content: left;
    text-align: left;
}
.interfaces {
    display: flex;
}

.update-interface {
    margin-left: 100px;
}