table th {
    border: 1px solid #ffffff;
    padding: 8px;
}

table td {
    border: 1px solid #ffffff;
    padding: 8px;
}

table tr {
    border: 1px solid #ffffff;
    padding: 8px;
}

table thead {
    border-bottom: 2px solid #ffffff;
}

table {
    background-color: #0d0d0d;
    border-collapse: collapse;
}

.deleteButton {
    background-color: #000000; 
    color: #ff0000;
    font-size: 16px;
    font-weight: bold;
    width: 35px;
    height: 35px;
}
