table th {
    border: 1px solid #ffffff;
    padding: 8px;
}

table td {
    border: 1px solid #ffffff;
    padding: 8px;
}

table tr {
    border: 1px solid #ffffff;
    padding: 8px;
}

table thead {
    border-bottom: 2px solid #ccc;
}

table {
    background-color: rgb(29, 29, 29);
    border-collapse: collapse;
}

.deleteButton {
    background-color: #000000; 
    color: rgb(255, 0, 0);
    font-size: 16px;
    font-weight: bold;
    width: 35px;
    height: 35px;
}
